@model List<TestShoot>

<h3>Shot List</h3>

<table class="table">
    <tr align="center">
        <th>ID</th>
        <th>Good</th>
        <th>ShotName</th>
        <th>Take</th>
        <th align="right">InTimeCode</th>
        <th align="right">OutTimeCode</th>
        <th align="right">Duration</th>
        <th>AudioChannel01</th>
        <th>AudioChannel02</th>
        <th>Comments</th>
    </tr>
@foreach(var shot in Model)
{
    <tr align="center">
        <td>@shot.ID</td>
        <td>@shot.Good</td>
        <td>@shot.ShotName</td>
        <td>@shot.Take</td>
        <td align="right">@shot.InTimeCode</td>
        <td align="right">@shot.OutTimeCode</td>
        <td align="right">@shot.Duration</td>
        <td>@shot.AudioChannel01</td>
        <td>@shot.AudioChannel02</td>
        <td align="left">@shot.Comments</td>
    </tr>
}
    
</table>